@import "../../../../node_modules/@alifd/next/variables";

.CardList {
  margin-top: -$shell-dark-content-paddingTop;
  margin-right: -$shell-dark-content-paddingLeft;
  margin-bottom: $shell-dark-content-paddingTop;
  margin-left: -$shell-dark-content-paddingLeft;
}

.TagBox {
  padding: 0 $shell-dark-content-paddingLeft $s-8;
}

.TagBoxItem {
  display: flex;
  align-items: center;
}

.TagTitleName {
  width: 56px;
  margin-right: 12px;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  text-align: right;
}

.ListItem {
  .main {
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
  }

  img {
    width: 100%;
  }

  .content {
    padding: 14px;
  }

  .title {
    color: #333;
    font-size: 14px;
  }

  .info {
    margin-top: 13px;
    color: #999;
    font-size: 12px;
    line-height: 20px;
  }

  .link {
    margin-top: 13px;

    a {
      margin-right: 20px;
      color: #999;
      font-size: 12px;
    }
  }

  .add {
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px dashed #eee;
    border-radius: 5px;

    .icon {
      color: #999;
    }
  }

  .addText {
    margin-top: 20px;
    color: #999;
    font-size: 12px;
    text-align: center;
  }
}

.rowSelect{
  color: #2699f2 !important;
  font-weight:800;
  border: #F00 solid 1px !important;
}

.projectList{
  padding: 8px 8px;
  border-radius: 2px;
  height: auto;
  transition: all 100ms linear;
  color: #333333;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
}
.braftEditor {
  border: 1px solid #E6E6E6
}


.groupItem {
  padding: 20px;
  background: #FFF;
  margin: 20px;
}

.inputStyle {
  width: 200px;
}

.previewDiv {
  margin-top: 15px;
  margin-right: 30px;
  font-weight: lighter;
}
